.about
  .row
    .large-8.columns.title
      %h4.subtitle
        About
      %p
        The National Joint Registry is a database of Hip and Knee replacements surgeries performed.
        The goal is to foster a national center for data collection and research on total hip and knee replacement with far-reaching benefits to society including reduced morbidity and mortality, improved patient safety, improved quality of care and medical decision-making, reduced medical spending, and advances in orthopaedic science and bioengineering.
    .large-4.columns.hero
      = image_tag "hip-cap-image.jpg"
  .row
    .large-12.columns.title
      %h4.subtitle
        The Goal
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse placerat ipsum ante, ac varius nunc feugiat sit amet. Donec vel risus in urna pulvinar pretium. Maecenas hendrerit metus dapibus sem interdum rhoncus. Fusce bibendum a mauris at vulputate. Aenean aliquam sem ligula, sit amet lobortis orci rutrum a. Aliquam vitae rutrum magna. Cras molestie mattis volutpat. Duis eget convallis neque, non porta mi. Curabitur ante arcu, blandit in accumsan vitae, convallis ut arcu. Praesent aliquam ac nisi et auctor. Proin commodo leo odio, sed placerat sapien mattis euismod. Aenean eget auctor diam.
      %p
        Pellentesque ornare tortor at neque rutrum, non dictum ligula lobortis. In mollis rutrum odio, non fermentum ipsum venenatis sit amet. Duis molestie leo vel eros pharetra, eget sagittis sapien accumsan. Nunc porta elit vitae dignissim blandit. Nulla congue luctus congue. Nulla leo velit, pellentesque quis hendrerit quis, accumsan nec lorem. Etiam pretium interdum augue eu volutpat. Quisque eu dignissim erat, vitae adipiscing erat. Vestibulum tempor ut turpis ac feugiat. Cras a vestibulum ligula. Sed non ligula tempus, ornare urna luctus, aliquam mi.
      %p
        Proin suscipit, quam in auctor rutrum, magna lorem laoreet tortor, nec tincidunt magna sapien a est. Morbi eget massa eu nibh consectetur aliquam. Nulla vitae dignissim lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam eros dui, ullamcorper ut ante non, tempus gravida sapien. Vivamus non erat egestas, aliquam ipsum in, pharetra libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ac elementum libero. Praesent lorem tellus, luctus vel porttitor eget, fringilla eget tortor. Vestibulum nisl lorem, aliquet ut turpis at, lacinia fringilla ante. Aliquam pharetra risus accumsan felis tincidunt dapibus. Nulla diam erat, accumsan nec neque quis, aliquam volutpat lorem. In nec bibendum neque, sed facilisis massa. Phasellus ullamcorper et urna ut tincidunt. Maecenas mollis ultrices mollis.