.about
  .row
    .large-8.columns.title
      %h4.subtitle
        About
      %p
        The Kenya National Joint registry is a registry of Total Hip and Total Knee Replacements done within the country. This registry is being launched at the Kenya Orthopaedic Associatiion Scientific Conference in June 2014.
    .large-4.columns.hero
      = image_tag "hip-cap-image.jpg"
  .row
    .large-12.columns.title
      / %h4.subtitle
      /   The Goal
      %p
        The initiative to develop the registry started in November 2013 at the Eldoret Symposium. A team comprising the hospitals present at the symposium was assigned to develop the registry viz Moi Teaching and Referral Hospital, Tenwek Hospital, AIC Kijabe Hospital and AIC CURE international Children’s Hospital. AIC CURE international Children’s Hospital (CURE) was assigned the task of leading the team.
      %p
        The development of the registry has gone through many stages of discussions, the search for and identification an IT company and now the launch to the rest of the surgeons in the country.