.about
  .row
    .large-10.columns.title
      %h4.subtitle
        Knee Replacement Overview
      %p
        Total knee replacement, or total knee arthroplasty, is a surgical procedure in which parts of the knee joint are replaced with artificial parts (prostheses) 

      = image_tag "knee_image.png"

      %p
        A normal knee functions as a hinge joint between the upper leg bone (femur) and the lower leg bones (tibia and fibula) The surfaces where these bones meet can become worn out over time, often due to arthritis or other conditions, which can cause pain and swelling.

  .row
    .large-10.columns
      %h5.subtitle
        Reasons for Knee Replacement

      %p
        Total knee replacement is one option to relieve pain and to restore function to an arthritic knee. The most common reason for knee replacement is that other treatments (weight loss, medicines, and injections) have failed to relieve arthritis-associated knee pain.
      %p
        The goal of knee replacement is to relieve pain, improve quality of life, and maintain or improve knee function. The procedure is performed on people of all ages, with the exception of children, whose bones are still growing.
  .row
    .large-10.columns
      %h5.subtitle
        Alternatives to Knee Replacement

      %p
        While total knee replacement can be helpful under the right circumstances, you should discuss the risks, benefits, and alternatives with a doctor. Alternatives to total knee replacement include:

      %p
        %b 
          Nonsurgical treatment 
        — Nonsurgical treatment methods are initially recommended for patients with osteoarthritis or inflammatory arthritis. This includes:

        %ol
          %li 
            Weight loss
          %li
            Exercise
          %li
            Medications, including over-the-counter and prescription. These include pain relievers such as acetaminophen and antiinflammatory drugs such as ibuprofen or naproxen. Patients should discuss use of these medications with their primary care provider and pharmacist to be sure the risk of side effects is acceptably low.
          %li
            Knee bracing or shoe inserts, both of which may help align the knee and balance the weight on the joint.
          %li
            Injections, either with a cortisone-like drug or a hyaluronic acid derivative. 
          %li
            Patients with rheumatoid or other inflammatory arthritis should try physical therapy and medicines before considering total knee replacement.

      %p
        %b
          Arthroscopy - 
        is a minimally invasive surgical procedure in which a doctor examines the inside of a joint with a device called an arthroscope. The doctor can repair any damage through small surgical incisions in the skin. Arthroscopy is only helpful for a certain type of knee problems. Arthroscopic surgery has not demonstrated significant benefit for patients with osteoarthritis.

      %p
        %b
          Osteotomy — 
        Osteotomy is a surgical procedure that involves cutting the leg bone, realigning it, and allowing it to heal. It is used to shift weight from a damaged part of the knee to a normal or less damaged one. Osteotomy is not recommended for patients older than 60 years of age or for those with inflammatory arthritis (such as rheumatoid arthritis).
      %p
        %b
          Partial knee replacement — 
        A “partial” or unicompartmental knee replacement involves replacing only one part of the knee joint. There is debate about the benefit of partial knee replacement compared with total knee replacement, but some studies have shown favorable results. You should talk to your doctor about the possible risks and benefits.
  .row
    .large-10.columns
      %h5.subtitle
        THE PROCEDURE
      
      = image_tag "knee_procedure.png"

      %p
        Knee replacement is performed in an operating room after you are given anesthesia. The surgery takes two to three hours. After surgery, you will be monitored in a recovery area for a while hours, until the effects of the anesthesia wear off.

      %p
        Most people stay in the hospital for two to four nights after surgery. During this time, you will be given pain medicines.

      %p
        Blood clots in the legs (called deep vein thromboses) are a common concern after knee replacement surgery. To reduce the risk of blood clots.

      %ol
        %li
          You will take a medicine, either as a pill or a shot. Most patients continue to take this medicine for a few weeks after surgery
        %li
          You may need to wear compression boots (devices that go around the legs and inflate periodically) while you are lying down. Once you are able to get up and walk, you will wear antiembolism stockings. These stockings fit snugly around the foot, ankle, lower leg, and knee to help prevent blood clots.

      %p
        Infection is another major concern, and you will be given antibiotics within an hour of the procedure and for up to 24 hours after
  .row
    .large-10.columns
      %h5.subtitle
        After Surgery

      %p        
        %b
          Rehabilitation — 
        You will be encouraged to start moving your feet and ankles immediately after surgery. Some surgeons use a continuous passive motion device, which raises and slowly moves your leg while you are in bed. It is common to begin physical therapy one day after surgery, while you are still in the hospital.
      %p
        Physical therapy is an important part of the recovery process. After leaving the hospital, some people have physical therapy in their home or at a clinic, while others stay in a rehabilitation facility or nursing home for a few days.
      %p
        The rehabilitation program generally includes exercises to improve range of motion (how far you can bend and straighten your knee) and to strengthen your leg muscles. Your surgeon and physical therapist will help to set goals as you progress through rehabilitation.

      %p
        The goal of the rehabilitation period is to regain strength and movement in the knee; it is important to avoid overworking or straining the knee during this recovery period. You can usually resume your normal activities within three to six weeks after surgery. After several months of rehabilitation, you will be able to have a more active lifestyle. High-impact sports such as running and sports that involve heavy contact (football) are not recommended, but you should be able to participate in activities like walking, bicycling, and swimming.

      %p  
        %b
          Potential complications — 
        Serious complications are not common after knee replacement. However, it is important to be aware of the major potential complications.
        
      %p
        Studies have shown that a successful joint replacement partially depends upon the experience of the surgeon and the hospital. In one study, outcomes were better in people who had:

      %ol
        %li
          A surgeon who performed more than six knee replacements each year
        %li
          Surgery performed in a hospital where more than 25 joint replacements were performed per year

      %p  
        Better outcomes included better knee function and lower rates of complications after surgery.
      
      

      %p
        %b
          Complications during surgery 
        — Very rarely, complications can occur during the actual hip replacement procedure. These include fractures (typically of the femur) and injury to the surrounding nerves or blood vessels. Most of these complications can be treated during the course of the surgery.
        
      %p
        %b
          Blood clot — 
        Having total knee replacement increases the risk of a blood clot forming in a vein (called a thrombosis). The most common place for a thrombosis to develop after knee surgery is in the deep veins of the leg (called a deep vein thrombosis [DVT]). Symptoms of a DVT include leg pain and swelling. Call your doctor's office if you are worried that you could have a DVT. 
      %p
        %b
          Infection — 
        Infection following knee replacement is a relatively uncommon but serious complication. Signs of infection include fever, chills, pain in the knee that gets worse suddenly, increasing redness, or swelling. Call your doctor's office if you are worried that you could have an infection.

      %p
        Wound infections are treated with antibiotics and occasionally by draining excess fluid from the joint. If an infection becomes deep or extensive, the prosthetic joint may need to be removed and reimplanted later, after the infection has cleared.
        
      %p
        %b 
          Stiffness — 
      Occasionally, despite physical therapy, a patient’s knee may get stiff and may not bend or straighten properly. If this occurs, then the patient may return to the operating room in order to bend and/or straighten the knee under anesthesia.
        
      
        
      %p
        %b
          Early failure — 
      Although most studies demonstrate that 80 to 90 percent of total knees will last between 15 to 20 years, early failures may occur due to a variety of reasons. These include loosening of the implants, infection, fractures of the bone around the implants, and instability. When early failures occur, revision surgery may be necessary.

      %em
        Source: http://www.uptodate.com/contents/total-knee-replacement-arthroplasty-beyond-the-basics