.about
  .row
    .large-8.columns.title
      %h4.subtitle
        Hip Replacement Overview
      %p
        Normally, the hip functions as a “ball-and-socket” joint. The top of the thigh (femur) bone (ball) fits into a part of the pelvis called the acetabulum (socket), allowing the joint to move smoothly in multiple directions (figure 1). Total hip replacement is a surgical procedure that replaces the hip joint with artificial parts (called prostheses).
      %p
        The most common cause of hip joint deterioration is osteoarthritis; other possible causes include inflammatory arthritis (eg, rheumatoid or psoriatic arthritis), hip disorders of infancy and childhood, osteonecrosis (avascular necrosis), and trauma.
    .large-4.columns
      = image_tag "http://www.uptodate.com/contents/images/PI/70663/Hip_anat_PI_edt.jpg?title=Hip+anatomy+PI"
  .row
    .large-8.columns
      %h5.subtitle
        Reasons for Hip Replacement

      %p
        Total hip replacement is only considered when you have tried and failed more conservative treatments, yet you continue to have significant pain, stiffness, or problems with the function of your hip.
      %p
        Total hip replacement may be performed on adults with a deteriorated hip. However, the replacement parts can deteriorate over time, and healthcare providers generally recommend delaying hip replacement until it is absolutely necessary.
  .row
    .large-8.columns
      %h5.subtitle
        Alternatives to Hip Replacement

      %p
        While total hip replacement can be helpful under the right circumstances, you should only consider it after a discussion of the risks, benefits, and alternatives with a healthcare provider.

      %p
        Nonsurgical treatment — Nonsurgical treatment methods are initially recommended for people with hip problems due to osteoarthritis or other conditions. Nonsurgical treatments for people with osteoarthritis include:

      %ol
        %li 
          Weight loss or maintenance of a healthy weight
        %li
          Physical therapy
        %li
          Use of an assistive device (such as a cane or walker)
        %li
          Pain-relieving medications
        %li
          Glucocorticoid (steroid) injection into the painful joint