.about
  .row
    .large-10.columns.title
      %h4.subtitle
        Hip Replacement Overview
      %p
        Normally, the hip functions as a “ball-and-socket” joint. The top of the thigh (femur) bone (ball) fits into a part of the pelvis called the acetabulum (socket), allowing the joint to move smoothly in multiple directions          
      = image_tag "hip_image.png"

      %p
        Total hip replacement is a surgical procedure that replaces the hip joint with artificial parts (called prostheses). 

      %p
        The most common cause of hip joint deterioration is osteoarthritis; other possible causes include inflammatory arthritis (eg, rheumatoid or psoriatic arthritis), hip disorders of infancy and childhood, osteonecrosis (avascular necrosis), and trauma.

      %p
        This article will discuss total hip replacement surgery. A review of other treatment options for arthritis is available separately

  .row
    .large-10.columns
      %h5.subtitle
        Reasons for Hip Replacement

      %p
        Total hip replacement is only considered when you have tried and failed more conservative treatments, yet you continue to have significant pain, stiffness, or problems with the function of your hip.
      %p
        Total hip replacement may be performed on adults with a deteriorated hip. However, the replacement parts can deteriorate over time, and healthcare providers generally recommend delaying hip replacement until it is absolutely necessary.
  .row
    .large-10.columns
      %h5.subtitle
        Alternatives to Hip Replacement

      %p
        While total hip replacement can be helpful under the right circumstances, you should only consider it after a discussion of the risks, benefits, and alternatives with a healthcare provider.

      %p
        %b 
          Nonsurgical treatment 
        — Nonsurgical treatment methods are initially recommended for people with hip problems due to osteoarthritis or other conditions. Nonsurgical treatments for people with osteoarthritis include:

        %ol
          %li 
            Weight loss or maintenance of a healthy weight
          %li
            Physical therapy
          %li
            Use of an assistive device (such as a cane or walker)
          %li
            Pain-relieving medications
          %li
            Glucocorticoid (steroid) injection into the painful joint

      %p
        People with inflammatory arthritis (such as rheumatoid arthritis) may benefit from a treatment regimen of antirheumatic or other medications.

      %p
        %b
          Surgical alternatives 
        — There are a few surgical alternatives to total hip replacement. Surgical alternatives to hip replacement, such as hip fusion or osteotomy, may be considered in people who are young or in whom a hip replacement may not be durable enough to last for many years and/or may not withstand an active lifestyle. Total hip resurfacing is another option for younger patients. The best surgical procedure depends upon the reasons for which the joint deteriorated. 
  .row
    .large-10.columns
      %h5.subtitle
        THE PROCEDURE
      
      %p
        Total hip replacement is performed in an operating room after you are given general or regional (epidural or spinal) anesthesia. The surgical approach used will be determined by your surgeon and is typically a single incision along the posterior (rear), lateral (side), or anterior (front) aspect of the hip. Less invasive hip replacement surgery techniques, which use smaller incisions and specialized instruments, are often used.


      %p
        The type of prosthesis used depends upon the needs of the particular patient and the surgeon performing the procedure. There are a variety of types of prosthetic surfaces, including metal-on-plastic, metal-on-metal, and ceramic-on-ceramic. An example of one type of prosthesis is shown here

      = image_tag "hip_procedure.png"

      %p
        Each surface has unique advantages and disadvantages, and your surgeon can discuss which surface is appropriate for you.
  .row
    .large-10.columns
      %h5.subtitle
        After Surgery

      %p        
        %b
          Management 
        — After surgery, you will be given pain medication through your IV or by mouth. You will also be given an antibiotic to prevent infection. 
      %p
        Most people are also given a medication to help prevent blood clots in the legs. Compression boots (devices that are worn around the legs and that inflate periodically) are often worn to prevent blood clots. Compression stockings may also be recommended. 
      %p  
        %b
          Rehabilitation 
        — Physical therapy (PT) is an important part of the recovery process. Most people are able to try standing and even walking, with the help of a physical therapist, within the first 24 hours.
        
      %p
        Your length of stay in the hospital will depend upon a number of factors, although most people stay one to three days, during which time you will work with a physical therapist to develop an exercise and rehabilitation program. You may continue your therapy at home under the supervision of a physical therapist, or you may stay in a rehabilitation facility and continue PT until you are able to independently perform daily activities.
      %p  
        The rehabilitation program generally includes exercises to stretch and strengthen the muscles surrounding the hip joint, as well as training in activities of daily life (eg, stair climbing, bending, walking). The goal of the rehabilitation is to regain strength and motion.
      
      %p
        After several months of rehabilitation, you will be encouraged to maintain an active lifestyle. Most people can resume their normal activities within three to six months. While high-impact sports such as running, contact sports, and skiing are not usually recommended after hip replacement, you can typically participate in activities like walking, cycling, and swimming.
      %p  
        Most hip replacements last 10 to 15 years or longer, and most people are very satisfied with the outcome. Newer prosthetic types may extend the life of the hip replacement.
  .row
    .large-10.columns
      %h5.subtitle
        TOTAL HIP COMPLICATIONS

      %p
        Serious complications after hip replacement surgery are not common and can be minimized by choosing a clinician who is experienced and who performs the procedure frequently; and by choosing a hospital that is experienced in caring for patients before, during, and after surgery.

      %p
        Complications can occur during surgery, in the immediate postoperative period, or many years after surgery. It is important to understand these potential risks before deciding to undergo hip replacement. For most patients, the benefits of reduced pain and improved function outweigh the small risk of complications

      %p
        %b
          Complications during surgery 
        — Very rarely, complications can occur during the actual hip replacement procedure. These include fractures (typically of the femur) and injury to the surrounding nerves or blood vessels. Most of these complications can be treated during the course of the surgery.
        
      %p
        %b
          Blood clots 
        — People who undergo hip replacement are at increased risk for developing blood clots after surgery. With appropriate preventive treatments, only about 1 percent of people will develop a blood clot.
      %p
        %b
          Infection 
        — Infection following hip replacement is uncommon (between 0.4 and 1.5 percent of patients). Antibiotics are routinely given to help prevent infection
        
      %p
        %b 
          Dislocation 
        — Dislocation of the artificial hip joint can occur if the ball becomes dislodged from the socket. Dislocation occurs in less than 2 percent of patients. In most cases, an orthopedic surgeon can move the joint back into place while the patient is sedated.
        
      %p
        To minimize the risk of dislocation, some patients are given specific precautions related to the motion of the hip. The particular precautions depend upon how your surgery is performed and should be discussed with your surgeon.
        
      %p
        %b
          Loosening 
        — Loosening of the joint implant is most often caused by wear of the prosthetic components. It is the most common long-term problem associated with total hip replacement, although the number of people who develop loosening is decreasing as prosthetic materials and surfaces are improved.
      %p
        %b
          Breakage 
        — Breakage of the implant itself can occur as a result of wear and tear of the prosthesis, often over the course of years. Older implants are more likely to break, while newer prostheses are stronger and more durable. This is a rare occurrence, with less than 0.5 percent of people experiencing breakage.
        
      %p
        %b
          Change in leg length 
        — Before, during, and after hip replacement surgery, a surgeon carefully measures the length of your legs in an attempt to make them equal length. However, in rare cases, the procedure results in one leg being slightly longer than the other. Some people with a significant difference in leg length find that wearing a lift in one shoe is helpful.
        
      %p
        %b
          Joint stiffening 
        — Joint stiffening caused by extra bone formation, also called heterotopic ossification, is a process in which some soft tissues around the hip harden into bone. People with this problem may experience hip stiffness or may feel no discomfort at all. If you are at risk for joint stiffening, your healthcare provider may recommend a preventive treatment.
  .row
    .large-10.columns
      %h5.subtitle
        SUMMARY

      %ol
        %li
          Total hip replacement is a very effective surgical procedure that involves replacing the damaged "ball and socket" parts of the hip with replacement (prosthetic) parts, with the goal of relieving pain and improving function.
        %li
          Most patients require total hip replacement due to pain caused by arthritis.
        %li
          Following surgery, you will be given medications to prevent infection and control pain. Measures are also taken to prevent blood clots. 
        %li
          You will work with a physical therapist after surgery to strengthen and stretch the muscles around the hip. 
        %li
          After surgery, you can usually resume your normal activities within three to six months. Newer surgical techniques may allow some patients to return to normal activities even faster. Low-impact activities such as walking, cycling, and swimming are recommended. High-impact activities, such as running, are not usually recommended after hip replacement surgery.
        %li
          Complications following hip replacement surgery are uncommon, and can usually be prevented with careful postoperative management.

      %em
        Source http://www.uptodate.com/contents/total-hip-replacement-arthroplasty-beyond-the-basics




