<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Dear Super Admin,</p>
	<p>
		<%= @user.name %> has signed up on the site and is awaiting approval. Click <%= link_to "here", "http://localhost:3000#{user_approve_path(@user)}", method: :post, data: { confirm: 'Are you sure?' } %> to approve them.
	</p>
</body>
</html>
