<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Dear <%= @user.name %>,</p>
	<p>
		Your account has been approved. Click <%= link_to "here", "http://localhost:3000#{new_user_session_path}"%> to sign in.
	</p>
</body>
</html>
