// body {
// 	background-color: #fffffff;
// }


// main {
// 	background-color: #fffffff;	
// }

// .top-bar {
// 	background: #000000;
// }

.home.index {
	padding: 1rem;
}

header {
	h3 {
		text-align: left;
	}

	.title {
		border-bottom: 1px solid rgb(220, 220, 220);
	}
}

footer {
	border-top: 1px solid rgb(220, 220, 220);
	padding: 1rem;
	font-size: .8rem;
	
}

.main {
	padding: 2rem 1rem;
}

footer.row {
	margin-top: 30px;
}

.sidebar {
	background-color: #eee;
	padding: 2rem;
}

.about {
	padding: 1rem 0px;
}

a:hover {
	background-color: #ffffff;
}

.hero {
	padding: 2rem;
}

h4.subtitle {
	color: #00aa00;
}

.hospitals {
	img.th {
		display: block;
		margin: auto;
	}
}

.multicheckboxes {
	li {
		padding-bottom: 0px;
	}
}