.home.index {
	padding: 1rem;
}

header {
	h3 {
		text-align: left;
	}

	.title {
		border-bottom: 1px solid #eee;
		margin-bottom: 0px;
	}
}

footer {
	border-top: 1px solid rgb(220, 220, 220);
	padding: 1rem;
	font-size: .8rem;
	
}

.main {
	padding: 2rem 1rem;
}

footer.row {
	margin-top: 30px;
}

.sidebar {
	background-color: #eee;
	padding: 2rem;
}

.about {
	padding: 1rem 0px;
}

a {
	color: #3a945b;
}

a:hover {
	color: #43ac6a;
}

.hero {
	padding: 2rem;
}

h4.subtitle, h5.subtitle {
	color: #00aa00;
}

.hospitals.participating {
	img {
		max-width: 150px;
		display: block;
		margin: auto;
	}

	.small {
		padding: 3rem 0px;
	}
}

// .top-bar {
// 	background: #727272;

// }

// .top-bar-section li:not(.has-form) a:not(.button) {
// 	background: #727272;	
// }

.multicheckboxes {
	li {
		padding-bottom: 0px;
		font-size: .8em;
	}
}


.button, .button:hover {
	background-color: #43ac6a;
	border-color: #3a945b;
}

table {
	td {
		.button {
			margin-bottom: 0px;
		}
	}
}

select option[disabled] {
    display: none;
}

.signup {
	padding: 1rem;
	border: 1px solid #eee;
}