// body {
// 	background-color: #fffffff;
// }


// main {
// 	background-color: #fffffff;	
// }

// .top-bar {
// 	background: #000000;
// }

.home.index {
	padding: 1rem;
}

header {
	h3 {
		text-align: left;
	}

	.title {
		border-bottom: 1px solid rgb(220, 220, 220);
	}
}

.sidebar {
	background-color: #FAFAFA;
}

.about {
	padding: 1rem 0px;
}

a:hover {
	background-color: #ffffff;
}